body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-height: 250px;
    max-width: 250px;
    margin: auto;
}

.card{
    height: 400px;
    width: 350px;
    margin: 20px;
}

.games{
    margin-top: 60px;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}
.heading{
    margin-top: 50px;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    color: rgb(193, 240, 240);
}

.img-section{
    padding: 20px !important;
    background: linear-gradient(rgb(52, 117, 126),rgb(103, 207, 221)) !important;
}